FORMAT: 1A
HOST: http://ppapi.lexteam.xyz/

# PastPapers

PastPapers allows students to do quick revision on subjects of their choice, with older exams.
Users can search through a catalog of past exams of which they can download to their system, and test themselves on.

# API v1

## Papers [/v1/papers]

### List All Papers [GET]

+ Response 200 (application/json)

        {
            "error": false,
            "code": 200,
            "message": null,
            "data": [
                {
                    "id": 1,
                    "subject": {
                        "safeName": "computer-science",
                        "name": "Computer Science"
                    },
                    "name": "j276",
                    "board": "OCR",
                    "date": "2016-01-17",
                    "__LINK": "http://ppapi.lexteam.xyz/v1/paper/1"
                },
                {
                    "id": 2,
                    "subject": {
                        "safeName": "chemistry",
                        "name": "Chemistry"
                    },
                    "name": "4402",
                    "board": "AQA",
                    "date": "2014-06-10",
                    "__LINK": "http://ppapi.lexteam.xyz/v1/paper/2"
                }
            ]
        }
        
### Paper [/v1/paper/{id}]

+ Parameters
    + id (integer) - The id of the paper.
        
### List A Paper [GET]

+ Response 200 (application/json)

        {
            "error": false,
            "code": 200,
            "message": null,
            "data": {
                "subject": {
                    "id": 1,
                    "safeName": "computer-science",
                    "name": "Computer Science"
                },
                "name": "j276",
                "board": "OCR",
                "date": "2016-01-17",
                "downloads": {
                    "paper": "http:\/\/www.ocr.org.uk\/Images\/226764-unit-j276-01-computer-systems-sample-assessment-materials.pdf",
                    "mark_scheme": "http:\/\/www.ocr.org.uk\/Images\/226764-unit-j276-01-computer-systems-sample-assessment-materials.pdf"
                }
            }
        }
